* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  margin-top: 50px;
}

.list-item {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 20px 20px;
}

.list-item:nth-child(odd) {
  background-color: rgb(211, 207, 207);
}

.boxes {
  margin: 0 auto;
  margin-top: 50px;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  margin-bottom: 40px;
  margin-right: 5%;
  width: 30%;
  height: 200px;
}

.box:nth-child(3n) {
  margin-right: 0;
}

.box:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}
